/* Setting up page peramiters*/
*, * ::before, * ::after {
    box-sizing: border-box;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

body i {
    font-family:'FontAwesome'!important;
}

:root {
    --border-radius: 0.3rem;
    --primary: rgb(255, 255, 255); 
    --secondary: rgb(117, 240, 17);
    --tertiary:  rgb(119, 136, 153);
}
/* Sets up the body format */
body {
    padding: 0;
    margin: 0; 
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;           
}
h2 {
    font-size: larger;
    color: var(--secondary);
}
p {
    font-size: small;
} 

/* creating a grid layout */
.grid-container {
    display: grid;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-template-areas: 
    'header header header header header header'
    'searchArea searchArea returnArea returnArea returnArea returnArea'
    'searchArea searchArea fiveDay fiveDay fiveDay fiveDay';  
    gap: 10px;
    padding: 10px; 
    background-color: var(--tertiary);  
    color: var(--primary);
    box-shadow: 6px 5px var(--secondary);
}

/* Header container in grid */
.header {
    grid-area: header;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
    background-color: blue;
    background-image: radial-gradient(rgb(0, 162, 255), rgb(0, 174, 255), rgb(0, 9, 128));
    height: 75px;
    padding-top: 12px;
    color: white;
}

/*Building out the search area*/
.searchArea {
    grid-area: searchArea;
    width: 90%; 
    display: block; 
}
.formLabel {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
  
.formInput {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--primary);
    border-radius: var(--border-radius);
  }
.searchBtn {
    margin-top: 10px;
    width: 227px;
    border-radius: .5em;
    background-color: blue;
    background-image: radial-gradient(rgb(0, 162, 255), rgb(0, 174, 255), rgb(0, 9, 128));
    color: whitesmoke;
}

#searchBtn:hover {
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

.pastBtn {
    font-size: medium;
    border-radius: .5em;
    width: max-content;
}

.pastBtn:hover {
    font-size: 16.5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* Where the return API information will go*/
.returnArea {
    grid-area: returnArea;
    border-style: double;
    width:auto;
    border-color: rgb(235, 148, 19);
    padding: 5px;
}

.list-group {
    padding: 0;
    list-style: none;
}

.returnCity {
    font-size: x-large;
    font-weight: 800;
    padding-bottom: 5px;
    color: var(--secondary);
}

.uvBtn {
    font-size: small;
    border-radius: .4em;
    border-style: none;
}


/* Five day forcasts area*/
.fiveDay {
    grid-area: fiveDay;
    text-align: left;    
}

/* Builds days out by cards and makes them in a row*/
.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.cardSearch {
    padding: 10px;
    margin-top: 0px;
    padding-top: 0px;
    width: 250px;
    text-align: Left;
}

.card {
    padding: 10px;
    margin-top: 0px;
    padding-top: 0px;
    width: 250px;
    text-align: Left;
    border-style: solid;
    border-width: 1px;
    background-color: blue;
    background-image: radial-gradient(rgb(0, 162, 255) 2%, rgb(0, 174, 255) 3%, rgb(0, 9, 128) 50%);;
}

.formLabel {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

